#!/usr/bin/env xdg-open

[Desktop Entry]
Type=Application
Exec=@@INSTALL_PATH@@/__ENTRY_POINT__ %u
Icon=@@INSTALL_PATH@@/__ICON__
Terminal=__TERMINAL__
Name=__NAME__
GenericName=__NAME__
Categories=Science, Mathematics, Visualization
